{% extends 'layout.html' %}

{% block head %}
    <title>Halaman Login</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Halaman Login</h2>
                </div>

                <div class="card-body">
                    <form method="POST">
                        <div class="mb-3">
                            <label for="inpEmail" class="form-label">Email address</label>
                            <input name="inpEmail" type="email" class="form-control" id="inpEmail" required>
                        </div>

                        <div class="mb-3">
                            <label for="inpPass" class="form-label">Password</label>
                            <input name="inpPass" type="password" class="form-control" id="inpPass" required>
                        </div>
    <!-- CAPTCHA -->
    <div class="mb-3">
        <label for="captcha" class="form-label">Berapa hasil dari {{ session['captcha_question'] }}?</label>
        <input name="captcha" type="text" class="form-control" id="captcha" required>
    </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary mt-4">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Gak punya akun? <a href="{{ url_for('register') }}">daftar di sini</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
